<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"
      xmlns="http://www.w3.org/1999/html">

    <a href="/" class="btn btn-info" role="button">Home Page</a>

<div ng-controller="AddCategoryViewCtrl">

    <form novalidate class="simple-form">
        <fieldset>
            <div ng-if="is_superuser == 'true'">
            <div style="float:none; margin-left: 15px;margin-top: 10px">
                Category Title: &nbsp;<input type="text" name="category_title" ng-model="category_title"/></div>
            <br/>
            <input type="submit" class="btn btn-info" role="button" ng-click="createcategory(category_title)" value="Add Category"/>
            </div>
        </fieldset>
    </form>

</div>
