<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"
      xmlns="http://www.w3.org/1999/html">

<a href="/" class="btn btn-info" role="button">Home Page</a>

<div ng-controller="AddPostViewCtrl">
    <form novalidate class="simple-form">
        <fieldset>
            <div style="float:top; margin-left: 15px;margin-top: 30px">
                Category: &nbsp; &nbsp; &nbsp;
                <select name="catid" id="catid" ng-model="catid">
                    <option ng-repeat="category in Categories" value="{{category.id}}">
                        {{category.title}}
                    </option>
                </select>
            </div>
            <br>

            <div style="float:none; margin-left: 15px;margin-top: 10px">
                Post Title: &nbsp; &nbsp; &nbsp;<input type="text" name="post_title" ng-model="post_title"/></div>
            <br/>

            <div style="float:none; margin-left: 15px;margin-top: 10px">
                Post Content:
                <textarea type="text" name="content" ng-model="content" cols="40" rows="5">
                </textarea>
            </div>
            <br/>

            <div style="float:none; margin-left: 15px;margin-top: 10px">
                <input type="submit" class="btn btn-info" role="button" ng-click="createpost(catid,post_title,content)" value="Add Post"/></div>
        </fieldset>
    </form>

</div>
