<div ng-controller="HomeViewCtrl">
    <div style="width: 100%">

        <div style="clear:both"></div>

        <div style="float:top; margin-left: 15px;margin-top: 30px">
            <div ng-if="username">
                <a ng-if="is_superuser == 'true'" href="#!/add_category/" class="btn btn-info" role="button">ADD
                    CATEGORY</a>
                <a href="#!/add_post/" class="btn btn-info" role="button">ADD POST</a>
                <a href="#!/all_posts/" class="btn btn-info" role="button">ALL POSTS</a></div>
            <div ng-if="!username">
                <a href="#!/all_posts/" class="btn btn-info" role="button">ALL POSTS</a></div>
        </div>


        <div style="float:left;margin-left: 10px;padding-right: 20px;padding-left: 10px; width: 20%; margin-top: 40px; border:solid thick aliceblue;">
            <h3 style="margin-top: 25px; margin-left: 10px"><span class="label label-warning">CATEGORIES</span></h3>
            <p>{{ password }}</p>
            <div ng-repeat="cat in Categories">
                <p>
                <hr>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ cat.id }}</span>
                        <h4><a href="#!/post_list_category/{{cat.id}}">{{ cat.title }}</a></h4>
                    </li>
                </ul>

                <div ng-if="is_superuser == 'true'">

                    <!-- Button trigger modal -->
                    <a role="button" class="btn btn-primary btn-sm{{cat.id}}" data-toggle="modal"
                       data-target="#myModal{{cat.id}}">Update</a>
                    <a ng-click="deletecategory(cat.id)" class="btn btn-primary btn-sm"
                       role="button">Delete</a></div>

                <!-- Modal -->
                <div class="modal fade" id="myModal{{cat.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel{{cat.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Update Category</h4>
                            </div>
                            <div class="modal-body">
                                Category Title: &nbsp;<input type="text" name="tit" ng-model="tit"/></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" ng-click="updatecategory(cat.id,tit)" class="btn btn-primary">Save
                                    changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </p>
        </div>

    </div>

    <div style="float:none; margin-left: 300px; width: 50%; margin-top: 65px">
        <h3 style="margin: 0px"><span class="label label-warning">POSTS</span></h3>
    </div>

    <div ng-repeat="post in Posts | limitTo:-5">
        <p>
        <hr>
        <div style="float:none; margin-left: 300px; width: 50%">
            <h4><a href="#!/post_content/{{post.id}}">Post Title: {{ post.post_title }}</a></h4></div>

        <div style="float:none; margin-left: 300px; width: 50%">
            {{ post.content|limitTo:"300" }}<br>
            <a href="#!/post_content/{{post.id}}">Read More</a><br></div>

        <div ng-if="is_superuser == 'true'">
            <div style="float:none; margin-left: 300px; width: 50%">

                <a type="button" class="btn btn-primary btn-sm{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}" data-toggle="modal"
                   data-target="#myModal2{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}">Update</a>
                <a ng-click="deletepost(post.id)" class="btn btn-primary btn-sm"
                   role="button">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="myModal2{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel2{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel2">Update Post</h4>
                            </div>

                            <div class="modal-body">
                                Title: &nbsp; &nbsp; &nbsp; <input type="text" name="post_title" ng-model="post_title"/><br><br>
                                <!--Content: <input type="text" name="cont" ng-model="cont"/><br>-->
                                    Content: &nbsp; <textarea type="text" name="content" ng-model="content" cols="40" rows="5"></textarea>

                                <div style="float:right; margin-top: 10px">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" ng-click="updatepost(post.id,post_title,content,post.like,post.dislike,post.category,post.author)"
                                            class="btn btn-primary">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="is_superuser == 'false'">
            <div ng-if="userid == post.author">
                <div style="float:none; margin-left: 300px; width: 50%">

                <a type="button" class="btn btn-primary btn-sm{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}" data-toggle="modal"
                   data-target="#myModal{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}">Update</a>
                <a ng-click="deletepost(post.id)" class="btn btn-primary btn-sm"
                   role="button">Delete</a>

                <!-- Modal -->
                <div class="modal fade" id="myModal{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel{{post.id}}{{post.like}}{{post.dislike}}{{post.category}}{{post.author}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel3">Update Post</h4>
                            </div>

                            <div class="modal-body">
                                Title: &nbsp; &nbsp; &nbsp; <input type="text" name="post_title" ng-model="post_title"/><br><br>
                                <!--Content: <input type="text" name="cont" ng-model="cont"/><br>-->
                                Content: &nbsp; <textarea type="text" name="content" ng-model="content" cols="40" rows="5"></textarea>

                                <div style="float:right; margin-top: 10px">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" ng-click="updatepost(post.id,post_title,content,post.like,post.dislike,post.category,post.author)"
                                            class="btn btn-primary">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>


</div>
</div>


