<head xmlns:border="http://www.w3.org/1999/xhtml"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <a href="/" class="btn btn-info" role="button">Home Page</a>
</head>
<body>
<div ng-controller="LoginViewCtrl">
    <p>Username: <input type="text" name="username" ng-model="username" required/></p>
    <p>Password: <input type="password" name="password" ng-model="password" required/></p>
    <a class="btn btn-info" role="button" ng-click="SendData(username,password)">Login</a>
    <hr/>
</div>
</body>