<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>
<body ng-controller="OtherProfilesViewCtrl" style="background-color:powderblue;">
<div style="float:none;margin-left: 20px;width: 75%">
    <h2><span class="label label-warning">USER PROFILE</span></h2>
    <p class="bg-info">Username: {{ otheruser.username }}</p>
    <p class="bg-info">FirstName: {{ otheruser.first_name }}</p>
    <p class="bg-info">LastName: {{ otheruser.last_name }}</p>
    <p class="bg-info">Email: {{ otheruser.email }}</p>
    <h2><p class="bg-danger">USER'S POSTS</p></h2>

    <p>
    <hr>
    <div ng-repeat="post in Posts">
        <div ng-if="post.author == otheruserid.id">
            <a href="#!/post_content/{{post.id}}" class="btn btn-primary btn-sm" role="button">Enter Content</a><br>
            <p class="bg-info">Title: {{ post.post_title }}</p>
            <p class="bg-info">Content: {{ post.content }}</p>
            <p class="bg-info">Created at: {{ post.created_at }}</p>
            <p class="bg-info">Updated at: {{ post.updated_at }}</p>
            <p class="bg-info">Author: {{ otheruser.username }}</p>
            <p class="bg-info">Like: {{ post.like }}</p>
            <p class="bg-info">Dislike: {{ post.dislike }}</p>
            </p>
        </div>
    </div>

    <h2><span class="label label-warning">USER'S COMMENTS</span></h2>
    <p>
    <hr>
    <div ng-repeat="comment in Comments">
        <div ng-if="comment.author == otheruserid.id">
            <a href="#!/post_content/{{comment.post}}" class="btn btn-primary btn-sm" role="button">Enter Post</a>
            <p class="bg-danger">User: {{ otheruser.username }}</p>
            <p class="bg-danger">Comment: {{ comment.comment_text }}</p>
            <p class="bg-danger">Created at: {{ comment.created_comment_at }}</p>
            <p class="bg-danger">Update at: {{ comment.updated_comment_at }}</p>
            <p class="bg-danger">Like: {{ comment.like_comment }}</p>
            <p class="bg-danger">Dislike: {{ comment.dislike_comment }}</p>
            </p>

        </div>
    </div>
</div>
<br><br><br>
<p>Created by Oğuz ÖZTÜRK</p>
</body>