<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>
<body style="background-color:powderblue;">
<div style="float:none;margin-left: 20px;width: 75%">

    <p>
    <hr>
    <div style="float:right">
        <a href="#!/add_post" class="btn btn-info" role="button">Add Post</a></div>
    <div style="float:none;width: 75%">
        <h3><span class="label label-warning">Category Name: {{ category_name.title }}</span></h3></div>

    <div ng-controller="CategoryListPostsCtrl">
        <div ng-repeat="post in Posts">
            <div ng-if="category.id == post.category">
                <p>
                <hr>

                <a href="#!/post_content/{{post.id}}" class="btn btn-primary btn-sm" role="button">Go Post
                    Content</a>
                <br>
                <div ng-repeat="user in users">
                    <div ng-if="user.id == post.author">
                        <a href="#!/other_profiles/{{user.id}}">Go {{ user.username }} 's Profile </a><br>
                        <p class="bg-info">Title: {{ post.post_title }}</p>
                        <p class="bg-info">Author: {{ user.username }}</p>
                    </div>
                </div>
                <p class="bg-info">Content: {{ post.content }}</p>
                <p class="bg-info">Created at: {{ post.created_at }}</p>
                <p class="bg-info">Updated at: {{ post.updated_at }}</p>
                <p class="bg-info">Like: {{ post.like }}</p>
                <p class="bg-info">Dislike: {{ post.dislike }}</p><br><br>
                </p>
            </div>
        </div>

    </div>
</div>
</p>
<br><br><br>
<p>Created by Oğuz ÖZTÜRK</p>
</body>