<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>
<body ng-controller="PostContentCtrl" ; style="background-color:powderblue">
<div style="float:none;margin-left: 20px;width: 75%">
    <p>
    <hr>

    <div ng-if="post">
        <h2><span class="label label-warning">POST CONTENT</span></h2>
        <div ng-repeat="user in users">
            <div ng-if="user.id == postcont.author">
                <a href="#!/other_profiles/{{user.id}}">Go {{ user.username }} 's Profile </a><br>
                <p class="bg-info">Author: {{ user.username }}</p></div>
        </div>
        <p class="bg-info"> Category: {{ category_name.title }}</p>
        <p class="bg-info">Title: {{ postcont.post_title }}</p>
        <p class="bg-info">Content: {{ postcont.content }}</p>
        <p class="bg-info">Created at: {{ postcont.created_at }}</p>
        <p class="bg-info">Updated at: {{ postcont.updated_at }}</p>
        <p class="bg-info">Like: {{ postcont.like }}</p>
        <p class="bg-info">Dislike: {{ postcont.dislike }}</p>

        <div ng-if="username">
            <a ng-click="like()" class="btn btn-primary btn-sm" role="button">Like</a>
            <a ng-click="dislike()" class="btn btn-primary btn-sm" role="button">Dislike</a></div>

        <div ng-if="is_superuser == 'true'">
            <a type="button"
               class="btn btn-primary btn-sm{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}"
               data-toggle="modal"
               data-target="#myModal2{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}">Update</a>
            <a ng-click="deletepostcontent(postcont.id)" class="btn btn-primary btn-sm" role="button">Delete</a></div>
        <!-- Modal -->
        <div class="modal fade"
             id="myModal2{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}"
             tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">Update Post</h4>
                    </div>

                    <div class="modal-body">
                        Title: &nbsp; &nbsp; &nbsp; <input type="text" name="post_title" ng-model="post_title"/><br><br>
                        <!--Content: <input type="text" name="cont" ng-model="cont"/><br>-->
                        Content: &nbsp; <textarea type="text" name="content" ng-model="content" cols="40"
                                                  rows="5"></textarea>

                        <div style="float:right; margin-top: 10px">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button"
                                    ng-click="updatepostcontent(postcont.id,post_title,content,postcont.like,postcont.dislike,postcont.category,postcont.author)"
                                    class="btn btn-primary">Save
                                changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="is_superuser == 'false'">
            <div ng-if="userid == postcont.author">
                <a type="button"
                   class="btn btn-primary btn-sm{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}"
                   data-toggle="modal"
                   data-target="#myModal{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}">Update</a>
                <a ng-click="deletepostcontent(postcont.id)" class="btn btn-primary btn-sm"
                   role="button">Delete</a>

                <!-- Modal -->
                <div class="modal fade"
                     id="myModal{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}"
                     tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel{{postcont.id}}{{postcont.like}}{{postcont.dislike}}{{postcont.category}}{{postcont.author}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Update Post</h4>
                            </div>

                            <div class="modal-body">
                                Title: &nbsp; &nbsp; &nbsp; <input type="text" name="post_title" ng-model="post_title"/><br><br>
                                <!--Content: <input type="text" name="cont" ng-model="cont"/><br>-->
                                Content: &nbsp; <textarea type="text" name="content" ng-model="content" cols="40"
                                                          rows="5"></textarea>

                                <div style="float:right; margin-top: 10px">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button"
                                            ng-click="updatepostcontent(postcont.id,post_title,content,postcont.like,postcont.dislike,postcont.category,postcont.author)"
                                            class="btn btn-primary">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>

    <p>
    <hr>
    <h2><span class="label label-warning">COMMENTS</span></h2>
    </p>

    <div ng-repeat="comment in Comments">
        <div ng-if="comment.post == postcont.id">
            <p>
            <hr>
            <div ng-repeat="user in users">
                <div ng-if="user.id == comment.author">
                    <p class="bg-danger">User: {{ user.username }}</p></div>
            </div>
            <p class="bg-danger">Comment: {{ comment.comment_text }}</p>
            <p class="bg-danger">Created at: {{ comment.created_comment_at }}</p>
            <p class="bg-danger">Update at: {{ comment.updated_comment_at }}</p>
            <p class="bg-danger">Like: {{ comment.like_comment }}</p>
            <p class="bg-danger">Dislike: {{ comment.dislike_comment }}</p>

            <div ng-if="username">
                <a ng-click="comment_like(comment.id)" class="btn btn-primary btn-sm" role="button">Like</a>
                <a ng-click="comment_dislike(comment.id)" class="btn btn-primary btn-sm" role="button">Dislike</a></div>


            <div ng-if="is_superuser == 'true'">
                <!-- Button trigger modal -->
                <a role="button"
                   class="btn btn-primary btn-sm{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}"
                   data-toggle="modal"
                   data-target="#myModal{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}">Update</a>
                <a ng-click="deletecommentcontent(comment.id)" class="btn btn-primary btn-sm"
                   role="button">Delete</a>

                <!-- Modal -->
                <div class="modal fade"
                     id="myModal{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}"
                     tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel3{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel3">Update Comment</h4>
                            </div>
                            <div class="modal-body">
                                Comment: &nbsp;<input type="text" name="comment_text" ng-model="comment_text"/></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" ng-click="updatecommentcontent(comment.id,comment.like_comment,comment.dislike_comment
                            ,comment.author,comment.post,comment_text)" class="btn btn-primary">Save
                                    changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="is_superuser == 'false'">
                <div ng-if="userid == comment.author">


                    <a role="button"
                       class="btn btn-primary btn-sm{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}"
                       data-toggle="modal"
                       data-target="#myModalauthorcomment{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}">Update</a>
                    <a ng-click="deletecommentcontent(comment.id)" class="btn btn-primary btn-sm"
                       role="button">Delete</a></div>

                <!-- Modal -->
                <div class="modal fade" id="myModalauthorcomment{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}"
                     tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel4{{comment.id}}{{comment.like_comment}}{{comment.dislike_comment}}{{comment.author}}{{comment.post}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel4">Update Comment</h4>
                            </div>
                            <div class="modal-body">
                                Comment: &nbsp;<input type="text" name="comment_text" ng-model="comment_text"/></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" ng-click="updatecommentcontent(comment.id,comment.like_comment,comment.dislike_comment,comment.author,comment.post,comment_text)" class="btn btn-primary">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

<div ng-if="username">
    <p>
    <hr>
    <form novalidate class="simple-form">
        <div style="float: none; margin-left: 20px">
        <a> <input type="text" name="comment" ng-model="comment" required/></a>
        <a ng-click="createcomment(postcont.id,comment)" class="btn btn-primary btn-sm" role="button">Comment</a></div>
        <br><br><br><br><br>
    </form>

    </p></div>

</div>
<br><br><br>
<p>Created by Oğuz ÖZTÜRK</p>
</body>