<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <title>Sekom Blog Angular</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

</head>


<body ng-app="myApp" ; ng-controller="AppCtrl" ; style="background-color:powderblue">

<nav class="navbar navbar-default navbar-static-top" style="background-color:blue; border:2px solid #000;">

    <div style="float: left; margin-left: 20px">
        <div ng-if="username">
        <h2><span class="label label-warning">User : {{ username }}</span></h2>
        <h4><span class="label label-warning"><a href="#!/see_profile/">See Profile</a></span></h4></div>
    </div>

    <div style="float:left; margin-left: 350px">
        <h1><span class="label label-warning">SEKOM BLOG ANGULAR</span></h1>
    </div>
    <div class="navbar-collapse collapse">
        <div style="float:right; margin-right: 50px; margin-top: 15px">
            <div ng-if="username">
                <span class="label label-warning"><a href="#!/index/">HOME PAGE</a></span>
                <span class="label label-warning"><a id="logout" ng-click="logout()">LOGOUT</a></span></div>
            <div ng-if="!username">
                <span class="label label-warning"><a href="#!/index/">HOME PAGE</a></span>
                <span class="label label-warning"><a href="#!/login/">LOGIN</a></span>
                <span class="label label-warning"><a href="#!/register/">REGISTER</a></span></div>
        </div>
    </div>
</nav>

<ng-view></ng-view>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="controllers/post_content/post_content.js"></script>
<script src="controllers/post_list_category/post_list_category.js"></script>
<script src="controllers/add_post/add_post.js"></script>
<script src="controllers/add_category/add_category.js"></script>
<script src="controllers/see_profile/see_profile.js"></script>
<script src="controllers/other_profiles/other_profiles.js"></script>
<script src="controllers/home/home_view.js"></script>
<script src="controllers/all_posts/all_posts.js"></script>
<script src="controllers/login/login.js"></script>
<script src="controllers/register/register.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>